MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net/familystore
JWT_SECRET=your_secret_here
JWT_EXPIRES_IN=7d
PORT=3000
NODE_ENV=production
EMAIL_USER=votre.email@gmail.com
EMAIL_PASS=xxxx xxxx xxxx xxxx
EMAIL_ALERT_TO=patron@familystore.cm
